[submodule "Web (3 sem)/WEB_Lab2"]
	path = Web (3 sem)/WEB_Lab2
	url = https://github.com/sshubuntu/WEB_Lab2
[submodule "Web (3 sem)/WEB_Lab1"]
	path = Web (3 sem)/WEB_Lab1
	url = https://github.com/sshubuntu/WEB_Lab1
